<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="最新技術と自然との調和を目指す">
<meta name="viewport" content="width=device-width">
<title>声優練習アプリ | セリフを読んで感情表現を得点化</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>

<body id="top">
  <div id="mainImg">
  </br>
    <%= image_tag('main.jpeg', size: '200x150') %>
  </div>
  <section id="sec04">
    <div class="innerS">
      <h1 class="text-center">〜使い方〜</h1>
	  <ul class="col3">
      <li>
		<%= image_tag('logo1.jpg') %><br>
		<h4>セリフ一覧から<br>練習したいセリフをクリック。<h4>
	  </li>
	  <li>
	    <%= image_tag('logo2.jpg') %><br>
		<h4>『録音開始』を押すと相手役セリフ音声が流れるので、<br>相手に応答する形であなたのセリフを発声してください。</h4>
	  </li>
	  <li>
		<%= image_tag('logo3.jpg') %><br>
		<h4>発声が終わったら『録音停止』ボタンをクリック。<br>『判定結果へ』ボタンで点数を確認しましょう。</h4>
	  </li>
	  </ul>
	</div>
	</section>
<div class="text-center">
  <%= link_to ">>>練習スタート<<<", quotes_path, class: "btn btn-danger btn-lg text-light" %>
</div>
<br>
<br>
<br>


</body>
</html>
