<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="ブラウザ上で使用することができるボイスレコーダーです。録音したデータはWAVファイルとしてダウンロード可能です。また、追加のソフトウェアなどは不要です。">
    </head>
<body>
  <div class="text-center">
    <%= @quote.title %><br>
    <br>
    <% if @quote.quote_image.present? %>
      <%= image_tag @quote.quote_image.url %>
    <% end %><br>
    <br>
    <button class = "btn btn-primary" id="rec" >録音開始</button>
    <button class = "btn btn-warning" id="stop" >録音停止</button>
    <button class = "btn btn-info" id="playid" >録音再生</button><br>
    <audio id="play" controls></audio><br>
    <a id ="download" type="hidden"></a><br>
    <button class = "btn btn-danger" id="result" >結果へ</button><br>
    <%= form_with url:quote_results_path(@quote), id: "voiceform", local: true do |f| %>

      <%= f.hidden_field :quote_id, :value => @quote.id %>
      <%= f.hidden_field  :uuid  %>
      <%= f.hidden_field  :voice_data  %>
    <% end %>
    <br>
    <br>
    <br>
  </div>
</body>
<%= javascript_pack_tag 'app' %>
</html>
