<div class="text-center">
  <div class="font-size">
    </br>
    <text><%= @quote.title %></text></br>
    <% if @quote.quote_image.present? %>
      <%= image_tag @quote.quote_image.url %>
    <% end %><br>
    <div class="usemic">
      <h4 class="alert alert-danger" id="warning_text">※↓最初にマイク使用許可ボタンを押してください↓※</h4>
      <button class = "btn btn-danger" id="start" >>>マイク使用許可<<</button>
    </div>
    <button class = "btn btn-dark w-25" id="rec" >録音開始</button>
    <button class = "btn btn-warning w-25" id="stop" >録音停止</button>
    <button class = "btn btn-secondary w-25" id="playid" >録音再生</button>
    </br>
    <text>※録音開始すると相手役の音声が流れます。音量注意</br>※録音できる秒数は相手役の音声含め30秒です</br>※30秒経過すると録音停止します</text>
    </br>
    <% if @quote.opposite_voice.present? %>
      <%= audio_tag(@quote.opposite_voice.url, id: "oppositevoice") %>
    <% end %>
    <audio id="play" controls></audio><br>
    <a id ="download" type="hidden"></a><br>
    <button class = "btn btn-danger " id="result" >>>>演技判定結果へ進む<<<</button><br>
    <%= form_with url:quote_results_path(@quote), id: "voiceform", local: true do |f| %>

      <%= f.hidden_field :quote_id, :value => @quote.id %>
      <%= f.hidden_field  :uuid  %>
      <%= f.hidden_field  :voice_data  %>
    <% end %>
    <br>
    <h4><%= link_to 'TOPページへ', root_path, class: "link"  %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'セリフ一覧へ', quotes_path, class: "link"  %></h4>
    <br>
    <br>
  </div>
</div>
<%= javascript_pack_tag 'app' %>
