
<div class="text-center">
  <h2><%= @result.quote.title %></h2><br>
  <br>
  <% if @result.quote.quote_image.present? %>
    <%= image_tag @result.quote.quote_image.url %>
  <% end %><br>
  <br>
  <%=audio_tag("#{@result.voice_data.url}", controls: true) %>
  </br></br>
  <% if @score.ceil(2)< 1 %>
    <%= render 'result1' %>
  <% elsif @score.ceil(2)>= 1 && @score.ceil(2) < 10 %>
    <%= render 'result2' %>
  <% elsif @score.ceil(2)>= 10 && @score.ceil(2) < 40 %>
    <%= render 'result3' %>
  <% elsif @score.ceil(2)>= 40 && @score.ceil(2) < 60 %>
    <%= render 'result4' %>
  <% else %>
    <%= render 'result5' %>
  <% end %>
  </br>
  <%= link_to 'TOPページへ', root_path , class: "link" %>
  <%= link_to 'セリフ一覧へ', quotes_path, class: "link"  %>
  </br>
</div>
