
<div class="text-center">
  <h2><%= @result.quote.title %></h2>
  <% if @result.quote.quote_image.present? %>
    <%= image_tag @result.quote.quote_image.url %>
  <% end %><br>
  <br>
  <%=audio_tag("#{@result.voice_data.url}", controls: true) %>
  </br></br>
  
  <p class="text-danger">セリフ『<%= @result.quote.title %>』の</br>あなたの点数は<%= @display[:score] %>点です!(100点満点中)</p>
  <p><%= h(@display[:message]).gsub(/\n|\r|\r\n/, "<br>").html_safe %></p>
  <h4><%= link_to 'もう一度チャレンジ！', quote_path(@result.quote_id), class: "link"  %></h4>
  </br>
  <%= link_to 'Twitterであなたの演技をシェア！', "https://twitter.com/share?url=#{request.url}&text=セリフ『#{@result.quote.title}』にチャレンジしたよ！演技判定結果はリンクをクリック！%0a%0aひとりでも掛け合いのセリフ練習をしよう！%0a&hashtags=声優セリフ練習アプリ",class: 'btn btn-primary', title: 'Twitter', target: '_blank' %> 
  </br>
  </br>
  <h4><%= link_to 'TOPページへ', root_path , class: "link" %>&nbsp;&nbsp;&nbsp;
  <%= link_to 'セリフ一覧へ', quotes_path, class: "link"  %></h4>
  </br>
  </br>
</div>
