
<div class="text-center">
  <h2><%= @result.quote.title %></h2>
  <% if @result.quote.quote_image.present? %>
    <%= image_tag @result.quote.quote_image.url %>
  <% end %><br>
  <br>
  <%=audio_tag("#{@result.voice_data.url}", controls: true) %>
  </br></br>
  <% if @score.ceil(2) == 0 && @result.quote.emotion == "sad" %>
    <%= render 'result0sad' %>
  <% elsif @score.ceil(2) == 0 && @result.quote.emotion == "happy" %>
    <%= render 'result0sad' %>
  <% elsif @score.ceil(2) == 0 %>
    <%= render 'result0' %>
  <% elsif @score.ceil(2) < 1 && @result.quote.emotion == "sad" %>
    <%= render 'result1sad' %>
  <% elsif @score.ceil(2) < 1 && @result.quote.emotion == "happy" %>
    <%= render 'result1sad' %>
  <% elsif @score.ceil(2)< 1 %>
    <%= render 'result1' %>
  <% elsif @score.ceil(2)>= 1 && @score.ceil(2) < 10 && @result.quote.emotion == "sad" %>
    <%= render 'result2sad' %>
  <% elsif @score.ceil(2)>= 1 && @score.ceil(2) < 10 && @result.quote.emotion == "happy" %>
    <%= render 'result2sad' %>
  <% elsif @score.ceil(2)>= 1 && @score.ceil(2) < 10 %>
    <%= render 'result2' %>
  <% elsif @score.ceil(2)>= 10 && @score.ceil(2) < 70 && @result.quote.emotion == "sad" %>
    <%= render 'result3sad' %>
  <% elsif @score.ceil(2)>= 10 && @score.ceil(2) < 70 && @result.quote.emotion == "happy" %>
    <%= render 'result3sad' %>
  <% elsif @score.ceil(2)>= 10 && @score.ceil(2) < 40 %>
    <%= render 'result3' %>
  <% elsif @score.ceil(2)>= 40 && @score.ceil(2) < 70 %>
    <%= render 'result4' %>
  <% elsif @score.ceil(2)>= 70 && @score.ceil(2) < 85 %>
    <%= render 'result5' %>
  <% else %>
    <%= render 'result6' %>
  <% end %>
  <%= link_to 'Twitterであなたの演技をシェア！', "https://twitter.com/share?url=#{request.url}&text=セリフ『#{@result.quote.title}』にチャレンジしたよ！演技判定結果はリンクをクリック！%0a%0aひとりでも掛け合いのセリフ練習をしよう！%0a&hashtags=声優セリフ練習アプリ",class: 'btn btn-primary', title: 'Twitter', target: '_blank' %> 
  </br>
  </br>
  <h4><%= link_to 'TOPページへ', root_path , class: "link" %>&nbsp;&nbsp;&nbsp;
  <%= link_to 'セリフ一覧へ', quotes_path, class: "link"  %></h4>
  </br>
  </br>
</div>
