<!DOCTYPE html>
<html>
  <head>
    <title>VoiceActorPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= analytics_init if Rails.env.production? %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
